.container {
    width: 100%;
    max-width: 1140px;
    height: auto;
    display: flex;
    margin:0 auto;
    justify-content: center;
}
.container .row {
    width: 100%;
    height: auto;
    background-color: rgb(199, 179, 179);
}