.container__single_gta {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.container__single_gta:hover {
   border-radius: 10px;
   background-color: #EFF8FF;
   transition: 1s;
}
.container_row {
    min-width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #EFF8FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_row img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.info__single__gta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.info__single__gta p {
    font-size: 13px;
    color: var(--azul-claro);
}
.info__single__tag {
    width: auto;
    height: 20px;
    display: flex;
    gap: 5px;
}
.container__info__tag {
    width: 100%;
    height: auto;
    background-color: #EFF8FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__info__tag h5 {
    font-weight: 200;
    font-size: 9px;
    color: var(--azul-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

