.header {
    width: 100%;
    height: 370px;
    margin-bottom: 24px;
    background-image: url(https://videos-rockstargames-com.akamaized.net/v4/rkoCtr1r/art/global.jpg);
    background-position: center; 
    background-size: cover; 
}
